// rkinfospan101
// ==================================================/
@mixin rkinfospan101_theme() {
  .rkinfospan101 {
    background-color: #1c1d22;
    border: 1px solid #2a2a2d;
    color: #d5d5d5;

    a,
    date {
      color: #fff;
    }

    .rkinfospan101_icon {
      svg {
        fill: #d5d5d5;
      }
    }
  }
}
@include rkinfospan101_theme();

.rkinfospan101 {
  @extend %display--inline-block;
  @extend %padd--4;
  @include font-size(14px);
  
  a {
    &:hover {
      text-decoration: none;  
    }
  }

  .rkinfospan101_icon {
    @extend %display--inline-block;
    margin-right: 2px;
    svg {
      @extend %display--inline-block;
      vertical-align: text-bottom;
      width: 18px;
      height: 18px;
    }
  }  
}

// mobile portrait (320x480) 
@include mq($from: mobile) {
  .rkinfospan101 {
    p {
      display: block;
    }
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .rkinfospan101 {
    p {
      display: inline-block;

      &:not(:first-of-type) {
        margin-left: 6px;
      }
    }
  }
}

// rkinfospan102
// ==================================================/
@mixin rkinfospan102_theme() {
  .rkinfospan102 {
    background-color: #eee;
    color: #2c2d32;

    a,
    date {
      color: #000;
    }

    .rkinfospan102_icon {
      svg {
        fill: #2c2d32;
      }
    }

    .rkinfospan102_separator {
      background-color: #c0c0c0;
    }  
  }
}
@include rkinfospan102_theme();

.rkinfospan102 {
  @extend %display--inline-block;
  @extend %padd--4;
  @include font-size(14px);
  
  a {
    &:hover {
      text-decoration: none;  
    }
  }

  .rkinfospan102_icon {
    @extend %display--inline-block;
    margin-right: 2px;
    svg {
      @extend %display--inline-block;
      vertical-align: text-bottom;
      width: 18px;
      height: 18px;
    }
  }

  .rkinfospan102_separator {
    margin: 0 6px 0 6px; /* trbl */
    width: 1px;
  }  
}

// mobile portrait (320x480) 
@include mq($from: mobile) {
  .rkinfospan102 {
    .rkinfospan102_separator {
      display: none;
    }

    p {
      display: block;
    }
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .rkinfospan102 {
    .rkinfospan102_separator {
      display: inline-block;
    }

    p {
      display: inline-block;

    }
  }
}

// rkinfospan103
// ==================================================/
@mixin rkinfospan103_theme() {
  .rkinfospan103 {
    background-color: #f5f3da;
    color: #3b443f;

    .rkinfospan103_icon {
      svg {
        fill: #3b443f;
      }
    }

    a,
    date {
      color: #c32349;
    }

    .rkinfospan103_commentbadge {
      background-color: #c32349;
      a {
        color: #fff;
      }
    }

    .rkinfospan103_separator {
      background-color: #c0c0c0;
    }  
  }
}
@include rkinfospan103_theme();

.rkinfospan103 {
  @extend %display--inline-block;
  @extend %padd--4;
  @include font-size(14px);
  

  a {
    &:hover {
      text-decoration: none;  
    }
  }

  .rkinfospan103_icon {
    @extend %display--inline-block;
    margin-right: 2px;
    svg {
      @extend %display--inline-block;
      vertical-align: text-bottom;
      width: 18px;
      height: 18px;
    }
  }

  .rkinfospan103_separator {
    margin: 0 6px 0 6px; /* trbl */
    width: 1px;
  }  

  .rkinfospan103_commentbadge {
    @extend %display--inline-block;
    @extend %br--4;
    padding: 2px 4px 2px 4px; /* trbl */
  }
}

// mobile portrait (320x480) 
@include mq($from: mobile) {
  .rkinfospan103 {
    .rkinfospan103_separator {
      display: none;
    }

    p {
      display: block;
    }
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .rkinfospan103 {
    .rkinfospan103_separator {
      display: inline-block;
    }

    p {
      display: inline-block;

    }
  }
}